.nav-logo {
    width: 50px;
    height: 50px;
    background-color: green;
    color: white;
    border-radius: 50%;
    border: 5px solid white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.nav-link {
    font-size: 5vw;
    font-weight: 500;
    color: green;
    -webkit-text-stroke: 1px rgba(8, 12, 38, 0.5);
    text-shadow: 2vw 2vw 1vw rgba(8, 12, 38, 0.9);
}

.active {
    color: greenyellow;
}

.navbar-toggler {
    color: white;
}

.section {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    z-index: -99;
}

.container-hero {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding-top: 10vh;
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(8, 12, 38, 0.9)), to(rgba(29, 64, 54, 0.9)));
    background-image: -o-linear-gradient(top left, rgba(8, 12, 38, 0.9), rgba(29, 64, 54, 0.9));
    background-image: linear-gradient(to bottom right, rgba(8, 12, 38, 0.9), rgba(29, 64, 54, 0.9));
}

.suround {
    height: 280px;
    width: 280px;
    margin-right: 10vw;
    margin-top: 0vh;
    border: 4px solid white;
    border-radius: 50%;
    background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(8, 12, 38, 0.9)), to(rgba(29, 64, 54, 0.9)));
    background-image: -o-linear-gradient(top left, rgba(8, 12, 38, 0.9), rgba(29, 64, 54, 0.9));
    background-image: linear-gradient(to bottom right, rgba(8, 12, 38, 0.9), rgba(29, 64, 54, 0.9));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.squareWhite {
    height: 250px;
    width: 250px;
    border: 4px solid white;
    margin-left: 9vw;
   -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    -webkit-animation: spin45;
            animation: spin45;
    -webkit-animation-duration: 20000ms;
            animation-duration: 20000ms;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}

.squareGreen {
    height: 250px;
    width: 250px;
    border: 4px solid green;
    margin-left: -2vh;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    -webkit-animation: spin;
            animation: spin;
    -webkit-animation-duration: 20000ms;
            animation-duration: 20000ms;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
}

.carousel-inner {
    height: 270px;
    width: 270px;
    border-collapse: separate;
    border-radius: 50%;
    margin-left: 9.5vw;
    border: 6px solid greenyellow;
}

.sanityTitle {
    margin-top: 1vh;
    margin-left: 4vw;
    font-size: 28vw;
    font-weight: 500;
    color: white;
    -webkit-text-stroke: 3px green;
}

.kingTitle {
    margin-top: -7vh;
    margin-left: 4vw;
    font-size: 28vw;
    font-weight: 500;
    color: green;
    -webkit-text-stroke: 2px white;
}

.quote {
    margin-top: -2vh;
    margin-left: 4vw;
    font-size: 6vw;
    font-style: oblique;
    color: white;
}

.wpButton {
    z-index: 2;
    width: 60px;
    height: 60px;
    margin-left: 3vw;
    margin-top: 5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgb(37, 211, 102);
    border-radius: 50%;
}

.wpButton::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 0.5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgb(37, 211, 102);
    -webkit-animation: pulsation1 4s ease infinite;
            animation: pulsation1 4s ease infinite;
    z-index: 0;
}

.wpButton::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 0.5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgb(37, 211, 102);
    -webkit-animation: pulsation2 4s ease infinite;
            animation: pulsation2 4s ease infinite;
    z-index: 0;
}

.wpButton a {
    text-decoration: none;
    color: white;
    font-size: 40px;
    margin-bottom: 1px;
    margin-left: 1px;
}

@media(max-width:320px){

    .squareGreen{
        height: 224px;
        width: 224px;
        margin-top: 5vh;
        margin-left: 66%;
        box-shadow: 2vw 2vw 1vw rgba(8, 12, 38, 0.9);
    }

    .squareWhite{
        height: 224px;
        width: 224px;
        margin-left: 66%;
        margin-top: -224px;
        box-shadow: 2vw 2vw 3vw rgba(8, 12, 38, 0.9);
    }

    .suround{
        height: 320px;
        width: 320px;
        margin-left: 50%;
        margin-top: -272px;
        background-image: radial-gradient(rgba(29, 64, 54, 0.5), rgba(8, 12, 38, 0.5));
        
    }

    .carousel-inner{
        height: 224px;
        width: 224px;
        margin-left: 66%;
        margin-top: -272px;
    }

    .sanityTitle{
        font-size: 30vw;
        margin-top: -5vh;
        margin-left: 5vw;
        text-shadow: 2vw 2vw 5vw rgba(8, 12, 38, 0.9);
    }

    .kingTitle{
        font-size: 30vw;
        margin-top: -10vh;
        margin-left: 5vw;
        text-shadow: 2vw 2vw 5vw rgba(8, 12, 38, 0.9);
    }

    .quote{
        margin-top: -1vh;
        margin-left: 5vw;
        text-shadow: 2vw 2vw 5vw rgba(8, 12, 38, 0.9);
    }

    .wpButton{
        margin-top: 5vh;
        box-shadow: 2vw 2vw 3vw rgba(8, 12, 38, 0.9);
    }
}

@media(min-width: 360px){
    .squareGreen{
        height: 252px;
        width: 252px;
        margin-left: 15%;
    }

    .squareWhite{
        height: 252px;
        width: 252px;
        margin-left: 15%;
        margin-top: -252px;
    }

    .suround{
        height: 252px;
        width: 252px;
        margin-left: 15%;
        margin-top: -252px;
    }

    .carousel-inner{
        height: 242px;
        width: 242px;
        margin-left: 16.5%;
        margin-top: -247px;
    }

    .sanityTitle{
        font-size: 20vw;
        margin-top: 15vh;
        text-shadow: 2vw 2vw 1vw rgba(8, 12, 38, 0.9);
    }

    .kingTitle{
        font-size: 20vw;
        text-shadow: 2vw 2vw 1vw rgba(8, 12, 38, 0.9);
    }

    .quote{
        font-size: 5vw;
    }
}

@media(min-width: 375px){
    .squareGreen{
        height: 262.5px;
        width: 262.5px;
        margin-left: 15%;
    }

    .squareWhite{
        height: 262.5px;
        width: 262.5px;
        margin-left: 15%;
        margin-top: -262.5px; 
    }

    .suround{
        height: 262.5px;
        width: 262.5px;
        margin-left: 15%;
        margin-top: -262.5px; 
    }

    .carousel-inner{
        height: 252.5px;
        width: 252.5px;
        margin-top: -257.5px;
        margin-left: 16.5%; 
    }

    .sanityTitle{
        font-size: 20vw;
        margin-top: 5vh;
        text-shadow: 2vw 2vw 1vw rgba(8, 12, 38, 0.9);
    }

    .kingTitle{
        font-size: 20vw;
        text-shadow: 2vw 2vw 1vw rgba(8, 12, 38, 0.9);
    }

    .quote{
        font-size: 5vw;
    }
}

@media(min-width: 390px) {
    .squareGreen {
        height: 270px;
        width: 270px;
        margin-left:auto;
        margin-right: auto;
    }

    .squareWhite{
        height: 270px;
        width: 270px;
        margin-left: 15%;
        margin-top: -270px;
    }

    .suround{
        height: 270px;
        width: 270px;
        margin-left: 15%;
        margin-top: -270px;
    }

    .carousel-inner{
        height: 260px;
        width: 260px;
        margin-left: 16.5%;
        margin-top: -265px;
        text-shadow: 2vw 2vw 1vw rgba(8, 12, 38, 0.9);
    }

    .sanityTitle{
        margin-top: 16vh;
        text-shadow: 2vw 2vw 1vw rgba(8, 12, 38, 0.9);
    }

    .quote{
        margin-left: 6vw;
        margin-top: 1vh;
    }
}

@media(min-width: 393px) {
    .squareGreen {
        height: 270px;
        width: 270px;
        margin-top: 1vh;
        margin-left: 15.5vw;
    }

    .squareWhite {
        height: 270px;
        width: 270px;
        margin-top: -31.7vh;
        margin-left: 15.5vw;
    }

    .suround {
        height: 270px;
        width: 270px;
        margin-top: -31.7vh;
        margin-left: 15.5vw;
    }

    .carousel-inner {
        height: 260px;
        width: 260px;
        margin-top: -31.2vh;
        margin-left: 16.7vw;
        text-shadow: 2vw 2vw 1vw rgba(8, 12, 38, 0.9);
    }

    .sanityTitle {
        margin-top: 16vh;
        text-shadow: 2vw 2vw 1vw rgba(8, 12, 38, 0.9);
    }

    .quote {
        margin-top: 1vh;
    }

    .wpButton {
        margin-bottom: 2vh;
    }
}

@media (min-width:412px) {
    .squareGreen {
        height: 270px;
        width: 270px;
        margin-left: 16.8vw;
    }

    .squareWhite {
        height: 270px;
        width: 270px;
        margin-left: 16.8vw;
        margin-top: -29.5vh;
    }

    .suround {
        height: 270px;
        width: 270px;
        margin-left: 16.8vw;
        margin-top: -29.5vh;
    }

    .carousel-inner {
        height: 260px;
        width: 260px;
        margin-left: 18vw;
        margin-top: -29vh;
    }

    .sanityTitle {
        margin-top: 19vh;
        margin-left: 5vw;
        text-shadow: 2vw 2vw 1vw rgba(8, 12, 38, 0.9);
    }

    .kingTitle {
        margin-left: 5vw;
        text-shadow: 2vw 2vw 1vw rgba(8, 12, 38, 0.9);
    }

    .quote {
        margin-top: 1vh;
        margin-left: 7vw;
    }

}

@media(min-width:414px) {
    .squareGreen {
        height: 270px;
        width: 270px;
        margin:auto;
    }

    .squareWhite {
        height: 270px;
        width: 270px;
        margin-top: -270px;
        margin-left: auto;
        margin-right: auto;
    }

    .suround {
        height: 270px;
        width: 270px;
        margin-top: -270px;
        margin-left: auto;
        margin-right: auto;
    }

    .carousel-inner {
        width: 260px;
        height: 260px;
        margin-top: -265px;
        margin-left: auto;
        margin-right: auto;
    }

    .sanityTitle {
        margin-top: 16vh;
        margin-left: 5vw;
        text-shadow: 2vw 2vw 1vw rgba(8, 12, 38, 0.9);
    }

    .kingTitle {
        margin-left: 5vw;
        text-shadow: 2vw 2vw 1vw rgba(8, 12, 38, 0.9);
    }

    .quote {
        margin-top: 1vh;
        margin-left: 7vw;
    }

}

@media(min-width: 425px){
    .squareGreen{
        height: 297.5px;
        width: 297.5px;
        margin-left: auto;
        margin-right: auto;
    }

    .squareWhite{
        height: 297.5px;
        width: 297.5px;
        margin-left: 15%;
        margin-top: -297.5px;
    }

    .suround{
        height: 297.5px;
        width: 297.5px;
        margin-left: 15%;
        margin-top: -297.5px;
    }

    .carousel-inner{
        height: 287.5px;
        width: 287.5px;
        margin-left: 16.5%;
        margin-top: -292.5px;
    }

    .sanityTitle{
        margin-top: 4vh;
        font-size: 30vw;
        text-shadow: 2vw 2vw 1vw rgba(8, 12, 38, 0.9);
    }

    .kingTitle{
        font-size: 30vw;
        text-shadow: 2vw 2vw 1vw rgba(8, 12, 38, 0.9);
    }

    .quote{
        font-size: 7vw;
        margin-top: -1vh;
    }

    .wpButton{
        margin-top: 1vh;
    }
}

@media(min-width: 575px){
    .squareGreen{
        height: 287.5px;
        width: 287.5px;
        margin-left: 25%;
    }

    .squareWhite{
        height: 287.5px;
        width: 287.5px;
        margin-left: 25%;
        margin-top: -287.5px;
    }

    .suround{
        height: 287.5px;
        width: 287.5px;
        margin-left: 25%;
        margin-top: -287.5px;
    }

    .carousel-inner{
        height: 230px;
        width: 230px;
        margin-left: 30%;
        margin-top: -258.75px;
    }

    .sanityTitle{
        font-size: 18vw;
        margin-top: 15vh;
        text-shadow: 2vw 2vw 1vw rgba(8, 12, 38, 0.9);
    }

    .kingTitle{
        font-size: 18vw;
        text-shadow: 2vw 2vw 1vw rgba(8, 12, 38, 0.9);
    }

    .quote{
        margin-top: 3vh;
    }
    
    .wpButton{
        margin-top: 3vh;
    }
}

@media(min-width: 768px){
    .container-hero{
        background-image: radial-gradient(rgba(29, 64, 54, 0.9), rgba(8, 12, 38, 0.9));
        padding-bottom: -25vh;
    }

    .squareGreen{
        width: 70vw;
        height: 70vw;
        margin-left: 14vw;
        margin-top: 5vh;
        border: 10px solid green;
        
    }

    .squareWhite{
        width: 70vw;
        height: 70vw;
        margin-left: 14vw;
        margin-top: -70vw;
        border: 10px solid white;
       
    }

    .suround{
        width: 70vw;
        height: 70vw;
        margin-left: 14vw;
        margin-top: -70vw;
        border: 10px solid white;
        
    }

    .carousel-inner{
        width: 68vw;
        height: 68vw;
        margin-left: 15vw;
        margin-top: -69vw;
        border: 10px solid greenyellow;
        box-shadow: 2vw 2vw 1vw rgba(8, 12, 38, 0.9);
    }

    .sanityTitle{
        position: relative;
        z-index: 999;
        font-size: 28vw;
        font-weight: 700;
        margin-top: -38vh;
        margin-left: 10vw;
        text-shadow: 2vw 2vw 1vw rgba(8, 12, 38, 0.9);
    }

    .kingTitle{
        position: relative;
        z-index: 999;
        font-size: 28vw;
        font-weight: 700;
        margin-top: -15vh;
        margin-left: 18vw;
        text-shadow: 2vw 2vw 1vw rgba(8, 12, 38, 0.9);
    }

    .quote{
        margin-top: 10vh;
        margin-left: 25vw;
    }

}

@media(min-width: 820px){
    .quote{
        margin-top: 10vh;
    }
}

@media(min-width: 1024px){
    
    .nav-item a{
        font-size: 2vw;
        color: white;
        margin-left: 5vw;
    }

    .squareGreen{
        max-width: 512px;
        max-height: 512px;
        margin-left: 25%;
    }

    .squareWhite{
        max-width: 512px;
        max-height: 512px;
        margin-left: 25%;
        margin-top: -512px;
    }

    .suround{
        max-width: 512px;
        max-height: 512px;
        margin-left: 25%;
        margin-top: -512px;
    }

    .carousel-inner{
        max-width: 462px;
        max-height: 462px;
        margin-left: 27.5%;
        margin-top: -487px;
    }

    .sanityTitle{
        font-size: 16vw;
        margin-left: 25%;
    }

    .kingTitle{
        font-size: 16vw;
        margin-left: 28%;
    }

    .quote{
        margin-top: 3vh;
    }

    .wpButton{
        margin-top: -8vh;
    }
}

@media(min-width: 1366px){
    .container-fluid{
        padding-left: 10%;
        padding-right: 10%;
    }

    .sanityTitle{
        margin-top: -50vh;
        font-size: 14vw;
    }

    .kingTitle{
        margin-top: -18vh;
        font-size: 14vw;
    }

    .quote{
        position: relative;
        margin-top: -5vh;
        margin-left: 15vw;
    }
}

@media(min-width: 1440px){
    .quote{
        margin-top: 12vh;
    }
}

@media(min-width: 1920px){
    .squareGreen{
        margin-left: 30%;
    }

    .squareWhite{
        margin-left: 30%;
    }

    .suround{
        margin-left: 30%;
    }

    .carousel-inner{
        margin-left: 31.5%;
    }

    .sanityTitle{
        margin-top: -30vh;
        margin-left: 20%;
    }

    .quote{
        margin-top: -5vh;
    }
}

@supports((-o-object-fit: cover) or (object-fit: cover)) {
    img {
        height: 40vh;
        -o-object-fit: cover;
           object-fit: cover;
        -o-object-position: center;
           object-position: center;
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@-webkit-keyframes spin45 {
    from {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
    }

    to {
        -webkit-transform: rotate(405deg);
                transform: rotate(405deg);
    }
}

@keyframes spin45 {
    from {
        -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
    }

    to {
        -webkit-transform: rotate(405deg);
                transform: rotate(405deg);
    }
}

@-webkit-keyframes pulsation1 {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }

    70% {
        -webkit-transform: scale(3);
                transform: scale(3);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 0;
    }
}

@keyframes pulsation1 {
    0% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1;
    }

    70% {
        -webkit-transform: scale(3);
                transform: scale(3);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 0;
    }
}

@-webkit-keyframes pulsation2 {
    0%, 20% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 0.4;
    }

    100% {
        -webkit-transform: scale(3);
                transform: scale(3);
        opacity: 0;
    }
}

@keyframes pulsation2 {
    0%, 20% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 0.4;
    }

    100% {
        -webkit-transform: scale(3);
                transform: scale(3);
        opacity: 0;
    }
}