body{
    margin: 0;
    padding: 0;
    border: 0;
}

.hero{
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-image: linear-gradient(rgba(8,12,38,0.9), rgba(61,115,80,0.9));
    position:relative;
}

.fotos-container{
    position: absolute;
    height: 100vh;
    width: 70vw;
    margin-left: -18.9vw;
    box-shadow: 5vw 2vw 10vw rgba(1,1,1,0.9);
    transform: skew(10deg);
    filter: blur(1px);  
}

.heroCenter{
    position: relative;
    display: grid;
    place-content: center;
    width: 100vw;
    height: 100vh;
}

.circleHero{
    position: relative;
    display: grid;
    place-content: center;
    min-height: 30vw;
    min-width: 30vw;
    border-radius: 50%;
    background-color: rgba(8,12,38,0.9);
    backdrop-filter: blur(20px);
}

.circleHero::after{
    position: absolute;
    content: "";
    height: 30vw;
    width: 30vw;
    border: 5px solid green;
    transform: rotate(45deg);
    animation: pulsation1 4000ms ease infinite;
}

.sanityTitle{
    position: relative;
    font-size: 10vw;
    font-weight: 700;
    color: white;
    -webkit-text-stroke: 0.3vw green;
    text-shadow: 2vw 2vw 1vw rgba(8,12,38,0.9);
    margin: 0;
}

.kingTitle{
    position: relative;
    font-size: 10vw;
    font-weight: 700;
    color: green;
    -webkit-text-stroke: 3px white;
    text-shadow: 2vw 2vw 1vw rgba(8,12,38,0.9);
    margin-top: -95px;
    margin-left: 50px;
}

@supports(object-fit: cover){
    img{
        height: 100vh;
        margin-left: 18vw;
        object-fit: cover;
        transform: skew(-10deg);
    }
}

@keyframes pulsation1{
    0%{
        transform: scale(1);
        opacity: 1;
        -webkit-transform: scale(1);
    }
    70%{
        transform: scale(3);
        -webkit-transform: scale(3);
        opacity: 0;
    }

    100%{
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 0;
    }
}