.nav-logo {
    width: 11vw;
    height: 5vh;
    background-color: green;
    color: white;
    border-radius: 50%;
    border: 1vw solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link {
    font-size: 5vw;
    font-weight: 500;
    color: white;
}

.active {
    color: greenyellow;
}

.navbar-toggler {
    color: white;
}

.section {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    z-index: -99;
}

.container-hero {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding-top: 10vh;
    background-image: linear-gradient(to bottom right, rgba(8, 12, 38, 0.9), rgba(29, 64, 54, 0.9));
}

.suround {
    height: 280px;
    width: 280px;
    margin-right: 10vw;
    margin-top: 0vh;
    border: 4px solid white;
    border-radius: 50%;
    background-image: linear-gradient(to bottom right, rgba(8, 12, 38, 0.9), rgba(29, 64, 54, 0.9));
    display: flex;
    align-items: center;
    justify-content: center;
}

.squareWhite {
    height: 250px;
    width: 250px;
    border: 4px solid white;
    margin-left: 9vw;
    transform: rotate(0deg);
    backdrop-filter: blur(10px);
    animation: spin45;
    animation-duration: 20000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.squareGreen {
    height: 250px;
    width: 250px;
    border: 4px solid green;
    margin-left: -2vh;
    backdrop-filter: blur(10px);
    animation: spin;
    animation-duration: 20000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.carousel-inner {
    height: 270px;
    width: 270px;
    border-radius: 50%;
    margin-left: 9.5vw;
    border: 6px solid greenyellow;
}

.sanityTitle {
    margin-top: 1vh;
    margin-left: 4vw;
    font-size: 28vw;
    font-weight: 500;
    color: white;
    -webkit-text-stroke: 3px green;
}

.kingTitle {
    margin-top: -7vh;
    margin-left: 4vw;
    font-size: 28vw;
    font-weight: 500;
    color: green;
    -webkit-text-stroke: 2px white;
}

.quote {
    margin-top: -2vh;
    margin-left: 4vw;
    font-size: 6vw;
    font-style: oblique;
    color: white;
}

.wpButton {
    z-index: 2;
    width: 60px;
    height: 60px;
    margin-left: 3vw;
    margin-top: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(37, 211, 102);
    border-radius: 50%;
}

.wpButton::before {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 0.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(37, 211, 102);
    animation: pulsation1 4s ease infinite;
    z-index: 0;
}

.wpButton::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 0.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(37, 211, 102);
    animation: pulsation2 4s ease infinite;
    z-index: 0;
}

.wpButton a {
    text-decoration: none;
    color: white;
    font-size: 40px;
    margin-bottom: 1px;
    margin-left: 1px;
}

@media(max-width:320px){
    .squareGreen{
        height: 224px;
        width: 224px;
        margin-left: 15%;
    }

    .squareWhite{
        height: 224px;
        width: 224px;
        margin-left: 15%;
        margin-top: -224px;
    }

    .suround{
        height: 224px;
        width: 224px;
        margin-left: 15%;
        margin-top: -224px;
    }

    .carousel-inner{
        height: 214px;
        width: 214px;
        margin-left: 16.5%;
        margin-top: -219px;
    }
}

@media(min-width: 360px){
    .squareGreen{
        height: 252px;
        width: 252px;
        margin-left: 15%;
    }

    .squareWhite{
        height: 252px;
        width: 252px;
        margin-left: 15%;
        margin-top: -252px;
    }

    .suround{
        height: 252px;
        width: 252px;
        margin-left: 15%;
        margin-top: -252px;
    }

    .carousel-inner{
        height: 242px;
        width: 242px;
        margin-left: 16.5%;
        margin-top: -247px;
    }

    .sanityTitle{
        font-size: 20vw;
        margin-top: 15vh;
    }

    .kingTitle{
        font-size: 20vw;
    }

    .quote{
        font-size: 5vw;
    }
}

@media(min-width: 375px){
    .squareGreen{
        height: 262.5px;
        width: 262.5px;
        margin-left: 15%;
        transform: rotate(0deg);
    }

    .squareWhite{
        height: 262.5px;
        width: 262.5px;
        margin-left: 15%;
        margin-top: -262.5px; 
    }

    .suround{
        height: 262.5px;
        width: 262.5px;
        margin-left: 15%;
        margin-top: -262.5px; 
    }

    .carousel-inner{
        height: 252.5px;
        width: 252.5px;
        margin-top: -257.5px;
        margin-left: 16.5%; 
    }

    .sanityTitle{
        font-size: 20vw;
        margin-top: 5vh;
    }

    .kingTitle{
        font-size: 20vw;
    }

    .quote{
        font-size: 5vw;
    }
}

@media(min-width: 390px) {
    .squareGreen {
        height: 270px;
        width: 270px;
        margin-left: 15%;
        transform: rotate(45deg);
    }

    .squareWhite{
        height: 270px;
        width: 270px;
        margin-left: 15%;
        margin-top: -270px;
    }

    .suround{
        height: 270px;
        width: 270px;
        margin-left: 15%;
        margin-top: -270px;
    }

    .carousel-inner{
        height: 260px;
        width: 260px;
        margin-left: 16.5%;
        margin-top: -265px;
    }

    .sanityTitle{
        margin-top: 16vh;
    }

    .quote{
        margin-left: 6vw;
        margin-top: 1vh;
    }
}

@media(min-width: 393px) {
    .squareGreen {
        height: 270px;
        width: 270px;
        margin-top: 1vh;
        margin-left: 15.5vw;
        transform: rotate(0deg);
    }

    .squareWhite {
        height: 270px;
        width: 270px;
        margin-top: -31.7vh;
        margin-left: 15.5vw;
    }

    .suround {
        height: 270px;
        width: 270px;
        margin-top: -31.7vh;
        margin-left: 15.5vw;
    }

    .carousel-inner {
        height: 260px;
        width: 260px;
        margin-top: -31.2vh;
        margin-left: 16.7vw;
    }

    .sanityTitle {
        margin-top: 16vh;
    }

    .quote {
        margin-top: 1vh;
    }

    .wpButton {
        margin-bottom: 2vh;
    }
}

@media (min-width:412px) {
    .squareGreen {
        height: 270px;
        width: 270px;
        margin-left: 16.8vw;
        transform: rotate(0deg);
    }

    .squareWhite {
        height: 270px;
        width: 270px;
        margin-left: 16.8vw;
        margin-top: -29.5vh;
    }

    .suround {
        height: 270px;
        width: 270px;
        margin-left: 16.8vw;
        margin-top: -29.5vh;
    }

    .carousel-inner {
        height: 260px;
        width: 260px;
        margin-left: 18vw;
        margin-top: -29vh;
    }

    .sanityTitle {
        margin-top: 19vh;
        margin-left: 5vw;
    }

    .kingTitle {
        margin-left: 5vw;
    }

    .quote {
        margin-top: 1vh;
        margin-left: 7vw;
    }

}

@media(min-width:414px) {
    .squareGreen {
        height: 270px;
        width: 270px;
        margin-left: 17.5vw;
    }

    .squareWhite {
        height: 270px;
        width: 270px;
        margin-top: -30vh;
        margin-left: 17.5vw;
        transform: rotate(0deg);
    }

    .suround {
        height: 270px;
        width: 270px;
        margin-top: -30vh;
        margin-left: 17.5vw;

    }

    .carousel-inner {
        width: 260px;
        height: 260px;
        margin-top: -29.6vh;
        margin-left: 18.5vw;
    }

    .sanityTitle {
        margin-top: 16vh;
        margin-left: 5vw;
    }

    .kingTitle {
        margin-left: 5vw;
    }

    .quote {
        margin-top: 1vh;
        margin-left: 7vw;
    }

}

@media(min-width: 425px){
    .squareGreen{
        height: 297.5px;
        width: 297.5px;
        margin-left: 15%;
    }

    .squareWhite{
        height: 297.5px;
        width: 297.5px;
        margin-left: 15%;
        margin-top: -297.5px;
    }

    .suround{
        height: 297.5px;
        width: 297.5px;
        margin-left: 15%;
        margin-top: -297.5px;
    }

    .carousel-inner{
        height: 287.5px;
        width: 287.5px;
        margin-left: 16.5%;
        margin-top: -292.5px;
    }

    .sanityTitle{
        margin-top: 4vh;
        font-size: 17vw;
    }

    .kingTitle{
        font-size: 17vw;
    }

    .quote{
        font-size: 4vw;
        margin-top: -1vh;
    }

    .wpButton{
        margin-top: 1vh;
    }
}

@supports(object-fit: cover) {
    img {
        height: 35vh;
        object-fit: cover;
        object-position: center;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes spin45 {
    from {
        transform: rotate(45deg);
    }

    to {
        transform: rotate(405deg);
    }
}

@keyframes pulsation1 {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    70% {
        transform: scale(3);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

@keyframes pulsation2 {
    0%, 20% {
        transform: scale(1);
        opacity: 0.4;
    }

    100% {
        transform: scale(3);
        opacity: 0;
    }
}